// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
code {
  background-color: #555;
  color: #fff;
  font-size: 1em;
  padding: 2px 5px;
}

body > header {
  h1 {
    font-family: Arvo, Georgia, 'Helvetica Neue', Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;

    a {
      color: #555 !important;
    }
  }

  h2 {
    font-size: 1.2em;

    .raise {
      color: #700;
    }

    .string {
      color: green;
    }
  }
}

html .gist {
  margin-bottom: 1.5em;

  .gist-file .gist-meta a[href*='#file'] {
    display: none;
  }
}
